@font-face {
    font-family:"grotesk-black";
    src: url("fonts/HKGrotesk-Black.ttf") format("truetype");
  }

  @font-face {
    font-family:"grotesk-bold";
    src: url("fonts/HKGrotesk-Bold.ttf") format("truetype");
  }


.personal{
    margin-top:50px;
    margin-bottom:50px;
}

#title{
    padding-top: 125px;
    font-size:48;
    font-family:"grotesk-black";
    line-height:50px;
}

.separator{
    background-color: grey;
    height:1px;
    width:100px;
    border-radius: 10px;
    opacity: 0.3;
}

.contenido{
    color:#717171;
    size: 18;
    font-family: "grotesk-bold";
}


#deloitte{
    color:#127d09 ;
}

.link-redes{
    font-family: "grotesk-bold";
    font-size: 24;
    color: #4E4E4E;
    padding-bottom: 55px;
    padding-top: 30px;
}